/*CSS for elements shared in all pages*/

body {
    background: #070707;
    max-width: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.header {
    border-bottom: 3px solid #FE4400;
    width: auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

.header-logo a {
    text-decoration: none;
    color: #FFFFFF;
    width: 30%;
}

.header-search {
    width: 20%;
}

    .header-search input {
        margin-bottom: 30px;
        padding: 12px 20px;
        width: 90%;
        height: 46px;
        background: #303033;
        box-shadow: 4px 4px 0px #FE4400;
        border-radius: 30px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        color: #FFFFFF;
    }

        .header-search input::placeholder {
            color: #FFFFFF;
            opacity: 1;
        }

        .header-search input:-ms-input-placeholder {
            color: #FFFFFF;
        }

    .header-search button {
        background: #303033;
        margin-left: -50px;
        padding: 0px;
        border-width: 0px;
        border-style: none;
        border-color: none
    }

.header-links a {
    width: 8,33%;
    height: 28px;
    margin: 45px 52px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.header-login-btn {
    width: 12%;
    height: 61px;
    background: #070707;
    border: 1px solid #FE4400;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .header-login-btn a {
        text-decoration: none;
        color: #FFFFFF;
        margin: 8px 13px;
    }

        .header-login-btn a img {
            margin: 0px 12px;
        }

footer {
    border-top: 3px solid #FE4400;
    margin-top: 30px;
    line-height: 60px;
    color: #FFFFFF;
}
/* CSS for home index elements from here */

.home-grid01 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5%;
    width: auto;
    align-items: center;
}

    .home-grid01 h1 {
        grid-row: 1/2;
        width: 50%;
        font-family: "Alfa Slab One";
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 66px;
        color: #FE4400;
    }

    .home-grid01 h3 {
        grid-row: 2/3;
        width: 50%;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF
    }

    .home-grid01 button {
        grid-row: 3/4;
        width: 35%;
        background: #FE4400;
        box-shadow: 8px 8px 0px #303033;
        border-radius: 10px;
        width: 313px;
        height: 81px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #1B0A04;
    }

    .home-grid01 img {
        grid-row: 1/3;
        width: 100%;
    }

.home-grid02 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
}

    .home-grid02 img {
        grid-column: 1/3;
        grid-row: 1/3;
        margin-right: 24px;
    }

    .home-grid02 h2 {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 60%;
        font-family: "Alfa Slab One";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        color: #FE4400;
    }

    .home-grid02 p {
        grid-column: 3/4;
        grid-row: 2/3;
        width: 60%;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
    }

.home-grid03 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
}

    .home-grid03 h4 {
        grid-column: 1/3;
        grid-row: 1/1;
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        text-align: left;
        color: #FE4400;
        margin-bottom: 52px;
    }

    .home-grid03 .img1 {
        grid-column: 1/2;
        grid-row: 2/4;
        width: 50%;
    }

    .home-grid03 .img2 {
        grid-column: 2/3;
        grid-row: 2/4;
        width: 50%;
    }

    .home-grid03 .img3 {
        grid-column: 3/4;
        grid-row: 2/4;
        width: 60%;
    }

.home-grid04 {
}

    .home-grid04 h5 {
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        color: #FE4400;
        text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    }

.faq-title {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FE4400;
    text-align: left;
    margin: 12px;
}

.collapsible {
    background-color: #070707;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: 2px solid #FE4400;
    border-radius: 12px;
    margin: 4px 12px;
    text-align: left;
    outline: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

    .active, .collapsible:hover {
        background-color: #303030;
    }

.content {
    padding: 0 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    display: none;
    overflow: hidden;
    background-color: #555;
    width: 73%;
    border-radius: 12px;
    margin-left: 12px;
}

/* CSS for mentors index elements from here */

.mentors-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #FE4400;
    text-align: center;
}

.tags-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 28px;
    column-gap: 42px
}

    .tags-container a {
        width: 236px;
        height: 64px;
        background: #FE4400;
        box-shadow: 8px 8px 0px #303033;
        border-radius: 10px;
        text-decoration: none;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #1B0A04;
        text-align: center;
        padding-top: 18px;
        margin: 0px 68px;
    }

.mentors-sub {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #FE4400;
    text-align: center;
}

.cards-background {
    background: #303030;
    padding: 30px;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 68px;
    column-gap: 18px;
    margin: 38px;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.card {
    width: 308px;
    height: 414px;
    background: #FE4400;
    color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    
}

    .card a {
        text-decoration: none;
    }

    .card img {
        border-radius: 50px 50px 0px 0px;
    }

.card-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
}

    .card-content h1 {
        margin: 14px;
        font-size: 26px;
    }

    .card-content p {
        font-size: 18px;
    }

/* CSS for mentors profile elements from here */

.profile {
    display: grid;
    grid-template-columns: auto auto auto;
}

    .profile img {
        grid-column: 1/2;
        border-radius: 40px;
        margin: 46px;
    }

    .profile h1 {
        grid-column: 2/3;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        color: #FFFFFF;
    }

    .profile .title {
        grid-column: 2/3;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF;
    }

    .profile .profile-tags {
        grid-column: 2/4;
    }

    .profile .profile-description {
        grid-column: 2/4;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF;
    }

.profile-txt {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

.profile-form {
    display: grid;
    grid-template-columns: auto auto;
    background: #303030;
}



.profile-btn a {
    text-decoration: none;
    color: #070707;
    width: 236px;
    height: 64px;
    background: #FE4400;
    box-shadow: 8px 8px 0px #4B1400;
    border-radius: 32px;
    margin: 56px;
}

.profile-card {
    width: 308px;
    height: 414px;
    background: #FE4400;
    color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    left: 25%;
    transform:translate(50%,6%)
}

    .profile-card a {
        text-decoration: none;
        right: 100px;
    }

    .profile-card img {
        border-radius: 50px 50px 0px 0px;
    }

.profile-card-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
    left: 25%;
    top:100%;
    transform: translate(35%,-176%)
}

    .profile-card-content h1 {        
        font-family: "Alfa Slab One";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 44px;
        color: #FE4400;
    }

    .profile-card-content p {
        font-size: 18px;
    }


/* CSS for mentors agendar elements from here */

.schedule-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
    align-content:center;
    left: 25%;
    top: 100%;
    transform: translate(0%,-15%)
}


.schedule-title label {
    font-family: "Alfa Slab One";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: #FE4400;
    left: 25%;
    top: 100%;
    transform: translate(25%,60%)
}

.schedule-title h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 22px;
    color: #FFFFFF;
    left: 25%;
    top: 100%;
    transform: translate(5%,-176%)
}
.schedule {
    color: #FFFFFF;
    margin-left: 50px;
    font-size: 28px;
    align-content: center;
}

    .schedule input {
        margin-bottom: 30px;
        padding: 12px 20px;
        width: 180px;
        height: 32px;
        background: #303033;
        box-shadow: 4px 4px 0px #FE4400;
        border-radius: 30px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        color: #FFFFFF;
    }

.schedule-btn {
    text-decoration: none;
    color: #070707;
    width: 120px;
    height: 42px;
    background: #FE4400;
    box-shadow: 8px 8px 0px #4B1400;
    border-radius: 32px;
    margin: 56px;
    text-align: center;
    margin-left: 50px;
    align-content: center;
    font-size: 28px;
}

    .schedule-btn input {
        margin-top: 8px;
    }


.schedule-btn-input {
    width: 236px;
    height: 64px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 18px;
    color: #070707;
    background: #FE4400;
    box-shadow: 8px 8px 0px #4B1400;
    border-radius: 32px;
    margin: 56px;
    text-align:center;
    margin-left: 50px;    
}