/*CSS for elements shared in all pages*/

body {
    background: #070707;
    max-width: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.header {
    border-bottom: 3px solid #FE4400;
    width: auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

.header-logo a {
    text-decoration: none;
    color: #FFFFFF;
    width: 30%;
}

.header-search{
    width: 20%;
}

    .header-search input {
        margin-bottom: 30px;
        padding: 12px 20px;
        width: 90%;
        height: 46px;
        background: #303033;
        box-shadow: 4px 4px 0px #FE4400;
        border-radius: 30px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        color: #FFFFFF;
    }
    
        .header-search input::placeholder {
            color: #FFFFFF;
            opacity: 1;
        }
        .header-search input:-ms-input-placeholder {
            color: #FFFFFF;
        }

    .header-search button {
        background: #303033;
        margin-left: -50px;
        padding: 0px;
        border-width: 0px;
        border-style: none;
        border-color: none
    }

.header-links a {
    width: 8,33%;
    height: 28px;
    margin: 45px 52px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.header-login-btn {
    width: 12%;
    height: 61px;
    background: #070707;
    border: 1px solid #FE4400;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items:center;
}

    .header-login-btn a {
        text-decoration: none;
        color: #FFFFFF;
        margin: 8px 13px;
    }

        .header-login-btn a img {
            margin: 0px 12px;
        }
/* CSS for home/index elements from here */

    .home-grid01 {
        display: grid;
        grid-template-columns: auto auto;
        padding: 5%;
        width: auto;
        align-items: center;
    }

    .home-grid01 h1 {
        grid-row: 1/2;
        width: 50%;
        font-family: "Alfa Slab One";
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 66px;
        color: #FE4400;
    }

    .home-grid01 h3 {
        grid-row: 2/3;
        width: 50%;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF
    }

    .home-grid01 button {
        grid-row: 3/4;
        width: 35%;
        background: #FE4400;
        box-shadow: 8px 8px 0px #303033;
        border-radius: 10px;
        width: 313px;
        height: 81px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #1B0A04;
    }

    .home-grid01 img {
        grid-row: 1/3;
        width: 100%;
    }

.home-grid02 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
}

    .home-grid02 img {
        grid-column: 1/3;
        grid-row:1/3;
        margin-right: 24px;
    }

    .home-grid02 h2 {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 60%;
        font-family: "Alfa Slab One";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        color: #FE4400;
    }

    .home-grid02 p {
        grid-column: 3/4;
        grid-row: 2/3;
        width: 60%;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
    }

.home-grid03 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
}

    .home-grid03 h4 {
        grid-column: 1/3;
        grid-row: 1/1;
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        text-align: left;
        color: #FE4400;
        margin-bottom: 52px;
    }

    .home-grid03 .img1 {
        grid-column: 1/2;
        grid-row: 2/4;
        width: 50%;
    }

    .home-grid03 .img2 {
        grid-column: 2/3;
        grid-row: 2/4;
        width: 50%;
    }

    .home-grid03 .img3 {
        grid-column: 3/4;
        grid-row: 2/4;
        width: 60%;
    }

.home-grid04 {

}

    .home-grid04 h5 {
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        color: #FE4400;
        text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

.faq-title {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FE4400;
    text-align: center;
    margin: 12px;
}

.collapsible {
    background-color: #070707;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    margin: 18px 12.5%;
    border: 2px solid #FE4400;
    border-radius: 12px;
    text-align: center;
    outline: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

    .active, .collapsible:hover {
        background-color: #303030;
    }

.content {
    padding: 0 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    display: none;
    overflow: hidden;
    background-color: #555;
    width: 73%;
    margin: 0px 13.5%;
    border-radius: 12px;
}

/* CSS for mentors/register elements from here */

.display-4 {
    color: #FFFFFF;
}

.register-form {
    width: 25%;
    margin: 56px 37.5%;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #FFFFFF;
}

/* CSS for mentors/index elements from here */

.mentors-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #FE4400;
    text-align: center;
}

.tags-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 28px;
    column-gap: 42px
}

    .tags-container a {
        width: 236px;
        height: 64px;
        background: #FE4400;
        box-shadow: 8px 8px 0px #303033;
        border-radius: 10px;
        text-decoration: none;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #1B0A04;
        text-align: center;
        padding-top: 18px;
        margin: 0px 68px;
    }

.mentors-sub {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #FE4400;
    text-align: center;
}

.cards-background {
    background: #303030;
    padding: 30px;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 68px;
    column-gap: 18px;
    margin: 38px;
}

.card {
    width: 308px;
    height: 414px;
    background: #FE4400;
    color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

    .card a {
        text-decoration: none;
    }
    .card img {
        border-radius: 50px 50px 0px 0px;
    }

    .card-content {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        color: #FFFFFF;
    }

        .card-content h1 {
            margin: 14px;
            font-size: 26px;
        }

        .card-content p {
            font-size: 18px;
        }

/* CSS for mentors/profile elements from here */

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col-md2 {
    height: 250px;
}

/* CSS for mentors/agendar elements from here */

.schedule-title label {
    color: #FFFFFF;
    margin-left: 50px;
    font-size: 28px;
}

.schedule {
    color: #FFFFFF;
    margin-left: 50px;
    font-size: 28px;
    align-content: center;
}

    .schedule input {
        margin-bottom: 30px;
        padding: 12px 20px;
        width: 180px;
        height: 32px;
        background: #303033;
        box-shadow: 4px 4px 0px #FE4400;
        border-radius: 30px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        color: #FFFFFF;
    }

.schedule-btn {
    text-decoration: none;
    color: #070707;
    width: 120px;
    height: 42px;
    background: #FE4400;
    box-shadow: 8px 8px 0px #4B1400;
    border-radius: 32px;
    margin: 56px;
    text-align: center;
    margin-left: 50px;
    align-content: center;
    font-size: 28px;
}

.schedule-btn input {
    margin-top: 8px;
}

/*Chat from here*/

/* Estilo dos cards representando usuário logado */

.user {
    position: relative;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 4px;
    width: 90px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    text-overflow: ellipsis;
    margin: 4px;
    cursor: pointer;
    transition: opacity 500ms ease;
    text-align: center;
}

    .user .user_icon {
        font-size: 30px;
        color: #ff6362;
        text-transform: uppercase;
    }

    .user .user_name {
        font-weight: 700;
        font-size: 15px;
        color: #5d5454;
        text-transform: capitalize;
    }

    .user .user_date {
        color: #606060;
        font-size: small;
    }

    .user:hover {
        opacity: .8;
    }

/* Estilo para chat */

.main {
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.chats_wrapper {
    top: 0;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row-reverse;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

    .chats_wrapper .chat {
        position: relative;
        width: 300px;
        display: block;
        font-family: sans-serif;
        margin: 0px 5px;
        background-color: #fafafa;
        border-radius: 5px 5px 0 0;
    }

        .chats_wrapper .chat header {
            background: #293239;
            border-radius: 5px 5px 0 0;
            color: #fff;
            cursor: pointer;
            padding: 16px 24px;
        }

        .chats_wrapper .chat main {
            height: 270px;
            padding: 5px;
            overflow-y: scroll;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            flex-flow: column;
        }

            .chats_wrapper .chat main .message {
                width: fit-content;
                word-break: break-word;
                white-space: normal;
                padding: 10px;
                border-radius: 20px;
                margin: 5px 0px;
                height: fit-content;
                height: -moz-fit-content;
                position: relative;
            }

                .chats_wrapper .chat main .message.their {
                    background-color: #add1ff;
                }

                .chats_wrapper .chat main .message.me {
                    background-color: #adffca;
                    justify-self: flex-end;
                    align-self: flex-end;
                }

            .chats_wrapper .chat main .me span, .chats_wrapper .chat main .their span {
                font-size: 10px;
                color: #606060;
            }

        .chats_wrapper .chat footer {
            padding: 15px;
        }

            .chats_wrapper .chat footer input {
                border: 1px solid #add1ff;
                width: 70%;
                font-size: 14px;
                padding: 15px;
                color: #070707;
                border-radius: 20px !important;
                outline: none;
            }

            .chats_wrapper .chat footer a {
                font-size: medium;
                color: #2196F3;
                padding: 5px;
                cursor: pointer;
            }

/* Estilos genéricos do chat */

.box_shadow_0 {
    width: 12.5%;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
