@model TechnicalShare.Models.Mentor
@{
    ViewData["Title"] = "Home Page";
}

<div class="home-grid01">
    <h1>
        Encontre o caminho para a sua evolução.
    </h1>
    <h3>
        Com a Technical Share você encontra um caminho e alguém para te acompanhar na evolução de toda a sua carreira, com gente que já passou por isso e sabe como te ajudar.
    </h3>
    <button>Conhecer Mentores</button>
    <img src="/images/homeindex.png" width="712" height="569" />
</div>

<p class="faq-title">O que queremos te oferecer:</p>

<button type="button" class="collapsible">Como a plataforma funciona</button>
<div class="content">
    <p>
        Desde já você é livre para explorar nosso conteúco, como os artigos e vídeos produzidos por nossos mentores para te esclarecer sobre assuntos na área de tecnologia.
    </p>
    <p>
        Após realizar seu cadastro você poderá utilizar a pricipal função aqui na MentOrange, que é oferecer para você a possibilidade de agendar uma conversa ou mentoria com o mentor(a) que você preferir para que este(a) tirar suas dúvidas e ajudar você com suas dificuldades, seja nos seus estudos ou na sua vida profissional.
    </p>
</div>
<button type="button" class="collapsible">As mentorias são gratuitas?</button>
<div class="content">
    <p>
        Sim, você não paga nada! Isso mesmo, sem pagar nada tem você acesso a profissionais capacitados e conteúdo de primeira qualidade!
    </p>
    <p>
        Aproveite! <strong>Não</strong> é por tempo limitado.
    </p>
</div>

<div class="home-grid02">
    <img src="" width="545" height="358" />
    <h2>Que um dos pilares do Grupo FCamara é a formação dos #SangueLaranja você já sabe, né?</h2>
    <p>Por isso, relaxa, aperta os cintos que a sua viagem até o mundo tech começa em 3... 2... 1...</p>
</div>

<div class="home-grid03">
    <h4>
        A gente mostra o caminho
    </h4>
    <img src="~/images/trilha01.png" class="img1" />
    <img src="~/images/trilha02.png" class="img2" />
    <img src="~/images/trilha03.png" class="img3" />
</div>

<div class="home-grid04">
    <h5>E você ainda conta com os melhores #SangueLaranja</h5>
</div>

<div class="cards-container">
    <div class="card">
        <a asp-controller="Mentors" asp-action="Profile" asp-route-id=1 role="button">
            <img src="~/images/foto.png" width="308" height="326" />
            <div class="card-content">
                <h1>Pedro Santos</h1>
                <p>mentorias em Back-End</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a asp-controller="Mentors" asp-action="Profile" asp-route-id=2 role="button">
            <img src="~/images/foto.png" width="308" height="326" />
            <div class="card-content">
                <h1>Ana Beatriz Garcia</h1>
                <p>mentorias em UX/UI</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a asp-controller="Mentors" asp-action="Profile" asp-route-id=3 role="button">
            <img src="~/images/foto.png" width="308" height="326" />
            <div class="card-content">
                <h1>Luciana Amorim</h1>
                <p>mentorias em Product Design</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a asp-controller="Mentors" asp-action="Profile" asp-route-id=4 role="button">
            <img src="~/images/foto.png" width="308" height="326" />
            <div class="card-content">
                <h1>Alan Soares</h1>
                <p>mentorias em Front-End</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a asp-controller="Mentors" asp-action="Profile" asp-route-id=5 role="button">
            <img src="~/images/foto.png" width="308" height="326" />
            <div class="card-content">
                <h1>Alan Soares</h1>
                <p>mentorias em Front-End</p>
            </div>
        </a>
    </div>
</div>

<h6 class="faq-title">Dúvidas frequentes no início da carreira de Tecnologia:</h6>

<button type="button" class="collapsible">Qual a melhor linguagem de programação para iniciar minha carreira?</button>
<div class="content">
    <p>
        No mercado de programação não existe “melhor linguagem”. Podem haver, sim, melhores linguagens para resolver determinados tipos de problemas. Mas se você procura a linguagem que pode te dar sua primeira vaga de emprego, recomendamos que faça uma pesquisa sobre as vagas de emprego disponíveis e veja a que é mais procurada/usada pelas empresas que estão recrutando no momento.
    </p>
</div>
<button type="button" class="collapsible">Qual linguagem devo aprender primeiro? </button>
<div class="content">
    <p>
        Essa pergunta é muito comum para quem deseja iniciar na área de tecnologia como desenvolvedor(a) e a resposta pode ser muito pessoal. Você pode decidir por uma linguagem que um parente ou amigo já usa para ter uma pessoa próxima a quem recorrer para tirar suas dúvidas, ou escolher aquela que está sendo mais falada nas suas redes sociais e conteúdos que você consome.
    </p>
    <p>
        Mas se você, realmente, não tem ideia de por onde começar, e olhar para tantos nomes diferentes como Java, JavaScript, C++, C#, PHP, Phyton, Go, Rust, e por aí vai... temos uma dica para você: Tente começar com JavaScript ou Phyton, pois são linguagens que oferecerão a você barreiras menores no início por não precisarem de setups complicados para você começar a escrever seu primeiro código.
    </p>
</div>
