@{
    ViewData["Title"] = "Home Page";
}

<div class="home-grid01">
    <h1>
        Encontre o caminho para a sua evolução.
    </h1>
    <h3>
        Com a Technical Share você encontra um caminho e alguém para te acompanhar na evolução de toda a sua carreira, com gente que já passou por isso e sabe como te ajudar.
    </h3>
    <button>Conhecer Mentores</button>
    <img src="/images/homeindex.png" width="712" height="569" />
</div>


<div class="home-grid02">
     <img src="" width="545" height="358"/>
     <h2>Que um dos pilares do Grupo FCamara é a formação dos #SangueLaranja você já sabe, né?</h2>
     <p>Por isso, relaxa, aperta os cintos que a sua viagem até o mundo tech começa em 3... 2... 1...</p>
</div>

<div class="home-grid03">
    <h4>
        A gente mostra o caminho
    </h4>
    <img src="~/images/trilha01.png" class="img1"/>
    <img src="~/images/trilha02.png" class="img2"/>
    <img src="~/images/trilha03.png" class="img3"/>
</div>

<div class="home-grid04">
    <h5>E você ainda conta com os melhores #SangueLaranja</h5>
</div>
