@model TechnicalShare.Models.CalendarMentor


<div class="home-grid02" style="margin-top: 40px">
    <h2>legal! você marcou uma mentoria. agora...</h2>
    <p>seja pontual e se prepare com tópicos e perguntas para a conversa. informamos que nossa plataforma é um ambiente seguro, inclusivo e não toleramos nenhuma forma de desrespeito. bons estudos e uma ótima mentoria!</p>  
</div>
