@model IEnumerable<TechnicalShare.Models.Mentor>

@{
    ViewData["Title"] = "Encontre conteúdo na área que você busca";
}
<h2 class="mentors-title">
    @ViewData["Title"]
</h2>

<div class="tags-container">
        
    <a href="expertises/adobe" class="btn btn-default">adobe</a>

    <a href="expertises/backend" class="btn btn-default">back-end</a>

    <a href="expertises/cloudcomputing" class="btn btn-default">cloud computing</a>

    <a href="expertises/csharp" class="btn btn-default">c#</a>

    <a href="expertises/datascience" class="btn btn-default">data science</a>

    <a href="expertises/devops" class="btn btn-default">devops</a>

    <a href="expertises/frontend" class="btn btn-default">front-end</a>

    <a href="expertises/htmlcss" class="btn btn-default">html e css</a>

    <a href="expertises/java" class="btn btn-default">java</a>

    <a href="expertises/javascript" class="btn btn-default">javascript</a>

    <a href="expertises/mobile" class="btn btn-default">mobile</a>

    <a href="expertises/nodejs" class="btn btn-default">node.js</a>

    <a href="expertises/php" class="btn btn-default">php</a>

    <a href="expertises/productdesign" class="btn btn-default">product design</a>

    <a href="expertises/python" class="btn btn-default">python</a>

    <a href="expertises/react" class="btn btn-default">react</a>

    <a href="expertises/typescript" class="btn btn-default">typescript</a>

    <a href="expertises/uxui" class="btn btn-default">ux/ui design</a>
                            
</div>
    
<h3 class="mentors-sub"> Ou veja nossa lista de mentores</h3>
<div class="cards-background">
    <div class="cards-container">
        @foreach (var item in Model)
        {
            <div class="card">
                <a asp-action="Profile" asp-route-id="@item.Id" role="button">
                    <img src="~/images/foto.png" width="308" height="326" />
                    <div class="card-content">
                        <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
                        <p>mentorias em @Html.DisplayFor(modelItem => item.Expertise.Name)</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>



